In [1]:
import pandas as pd
import numpy as np
import csv

---

# Extração

In [2]:
df_bilheteria = pd.read_csv('BilheteriaObrasSemana.csv', encoding='latin1', sep=';')
df_bilheteria

,TITULO_ORIGINAL,TITULO_BRASILEIRO,GENERO,PAIS_ORIGEM,CPB_ROE,COPIAS,SALAS,DT_INICIO_EXIBICAO,DT_FIM_EXIBICAO,PUBLICO,RENDA,RAZAO_SOCIAL_DISTRIBUIDORA,REGISTRO_DISTRIBUIDORA,CNPJ_DISTRIBUIDORA,ANO_CINEMATOGRAFICO
0,COLLEGE,COLEGIAIS EM APUROS,Ficção,Estados Unidos,E1600557700000,8,8,02/01/2009,08/01/2009,833,"5325,0",ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
1,O ABORTO DOS OUTROS,NaN,Documentário,Brasil,B0800890900000,1,1,02/01/2009,08/01/2009,40,"196,0",ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
2,ONDE ANDARÁ DULCE VEIGA?,NaN,Ficção,"Brasil, Chile",B0700801600000,1,1,02/01/2009,08/01/2009,66,"210,0",ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
3,QUAND J'ETAIS CHANTEUR,QUANDO ESTOU AMANDO,Ficção,França,E1600545500000,1,1,02/01/2009,08/01/2009,103,"842,92",ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
4,REC,REC,Ficção,Espanha,E1600619700000,2,2,02/01/2009,08/01/2009,252,"1575,0",ANTONIO FERNANDES FILMES LTDA,532,02.668.665/0001-01,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51171,BELLE DE JOUR,A BELA DA TARDE,Ficção,"França, Itália",E1700492900000,4,4,28/12/2017,03/01/2018,218,"3058,0",ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51172,BLOW-UP,BLOW-UP - DEPOIS DAQUELE BEIJO,Ficção,"Estados Unidos, Itália, Reino Unido",E1600672700000,1,1,28/12/2017,03/01/2018,16,"80,0",ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51173,COLO,COLO,Ficção,Portugal,E1700484800000,2,2,28/12/2017,03/01/2018,60,"464,0",ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51174,"GRADUATE, THE",A PRIMEIRA NOITE DE UM HOMEM,Ficção,Estados Unidos,E1402602600000,1,1,28/12/2017,03/01/2018,12,"96,0",ZETA FILMES LTDA,22936,02.469.679/0001-98,2017
51175,JEUNE FEMME,JOVEM MULHER,Ficção,França,E1700522000000,5,10,28/12/2017,03/01/2018,1094,"15903,87",ZETA FILMES LTDA,22936,02.469.679/0001-98,2017

---

## Transformação

Limpeza, Filtragem e Padronização de Dados

In [3]:
# Transformando dtypes de colunas

# 'ANO_CINEMATOGRAFICO', 'DT_INICIO_EXIBICAO' e 'DT_FIM_EXIBICAO' em Datetime
df_bilheteria['ANO_CINEMATOGRAFICO'] = pd.to_datetime(df_bilheteria['ANO_CINEMATOGRAFICO'], format='ISO8601', dayfirst=True)
df_bilheteria['DT_INICIO_EXIBICAO'] = pd.to_datetime(df_bilheteria['DT_INICIO_EXIBICAO'], format='%d/%m/%Y', dayfirst=True)
df_bilheteria['DT_FIM_EXIBICAO'] = pd. to_datetime(df_bilheteria['DT_FIM_EXIBICAO'], format='%d/%m/%Y', dayfirst=True)

# 'RENDA' em float
df_bilheteria['RENDA'] = df_bilheteria['RENDA'].str.replace(',' , '.').astype(float)

# Preenchendo valores Nulos
df_bilheteria['TITULO_BRASILEIRO'].fillna(df_bilheteria['TITULO_ORIGINAL'], inplace=True)


df_bilheteria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51176 entries, 0 to 51175
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TITULO_ORIGINAL             51176 non-null  object
 1   TITULO_BRASILEIRO           51176 non-null  object
 2   GENERO                      51176 non-null  object
 3   PAIS_ORIGEM                 51176 non-null  object
 4   CPB_ROE                     51176 non-null  object
 5   COPIAS                      51176 non-null  int64
 6   SALAS                       51176 non-null  int64
 7   DT_INICIO_EXIBICAO          51176 non-null  datetime64[ns]
 8   DT_FIM_EXIBICAO             51176 non-null  datetime64[ns]
 9   PUBLICO                     51176 non-null  int64
 10  RENDA                       51176 non-null  float64
 11  RAZAO_SOCIAL_DISTRIBUIDORA  51176 non-null  object
 12  REGISTRO_DISTRIBUIDORA      51176 non-null  int64
 13  CNPJ_DISTRIBUIDORA          51176 non-null  object
 14  ANO_CINEMATOGRAFICO         51176 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(4), object(7)
memory usage: 5.9+ MB

---

In [4]:
df_bilheteria.to_csv('to_replace.BilheteriaObrasSemana.csv', encoding='utf-8', index=False)