In [1]:
import pandas as pd
import numpy as np

---

In [2]:
import csv

data = []
with open('DiretoresDeObrasNaoPublicitariasEstrangeiras.csv', 'r', encoding='latin1') as file:
    reader = csv.reader(file, delimiter=';')
    for row in reader:
        data.append(row)

df_dir_obra_publi_estrang = pd.DataFrame(data)
df_dir_obra_publi_estrang

,0,1,2,3,4,5,6,7,8
0,ROE,TITULO_ORIGINAL,DIRETOR,None,None,None,None,None,None
1,E1402304700000,AEROSMITH - HOLE IN MY SOUL,ANDY MORAHAN,None,None,None,None,None,None
2,E1402304900000,AEROSMITH - PINK,STEVEN TYLER,None,None,None,None,None,None
3,E1402305100000,ALANIS MORISSETTE - CRAZY,ALANIS MORISSETTE,None,None,None,None,None,None
4,E1402305400000,ALANIS MORISSETTE - HAND IN MY POCKET,ALANIS MORISSETTE,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
29343,E2300163000000,MALUMA - LA REINA,MALUMA,None,None,None,None,None,None
29344,E2300165600000,VICTORIA MONï¿½T FEAT. LUCKY DAYE - SMOKE,CHARLIE DENIS,None,None,None,None,None,None
29345,E2300002300000,GREEN LANTERN: THE ANIMATED SERIES,BRUCE TIMM,None,None,None,None,None,None
29346,E2300002800000,YABBA DABBA DINOSAURS,ERIK KNUTSON,None,None,None,None,None,None
29347,E2300002800000,YABBA DABBA DINOSAURS,ZACH SMITH,None,None,None,None,None,None

In [3]:
df_dir_obra_publi_estrang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29348 entries, 0 to 29347
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       29348 non-null  object
 1   1       29348 non-null  object
 2   2       29348 non-null  object
 3   3       241 non-null    object
 4   4       32 non-null     object
 5   5       10 non-null     object
 6   6       5 non-null      object
 7   7       2 non-null      object
 8   8       1 non-null      object
dtypes: object(9)
memory usage: 2.0+ MB

In [4]:
#Fill Null
def fill_null(df, coluna, fill):
    df[coluna].fillna(fill, inplace=True)

fill_null(df_dir_obra_publi_estrang, 3, '.')
fill_null(df_dir_obra_publi_estrang, 4, '.')


def remove_column(df, coluna):
    if coluna in df.columns:
        df.drop(coluna, axis=1, inplace=True)

    else:
        pass

remove_column(df_dir_obra_publi_estrang, 8)
remove_column(df_dir_obra_publi_estrang, 7)
remove_column(df_dir_obra_publi_estrang, 6)
remove_column(df_dir_obra_publi_estrang, 5)

df_dir_obra_publi_estrang.columns = df_dir_obra_publi_estrang.iloc[0]
df_dir_obra_publi_estrang = df_dir_obra_publi_estrang[1:]

df_dir_obra_publi_estrang = df_dir_obra_publi_estrang.drop(df_dir_obra_publi_estrang.columns[0], axis=1)

In [5]:
df_dir_obra_publi_estrang

0                                TITULO_ORIGINAL            DIRETOR  .  .
1                    AEROSMITH - HOLE IN MY SOUL       ANDY MORAHAN  .  .
2                               AEROSMITH - PINK       STEVEN TYLER  .  .
3                      ALANIS MORISSETTE - CRAZY  ALANIS MORISSETTE  .  .
4          ALANIS MORISSETTE - HAND IN MY POCKET  ALANIS MORISSETTE  .  .
5                      BOB MARLEY - IS THIS LOVE         BOB MARLEY  .  .
...                                          ...                ... .. ..
29343                          MALUMA - LA REINA             MALUMA  .  .
29344  VICTORIA MONï¿½T FEAT. LUCKY DAYE - SMOKE      CHARLIE DENIS  .  .
29345         GREEN LANTERN: THE ANIMATED SERIES         BRUCE TIMM  .  .
29346                      YABBA DABBA DINOSAURS       ERIK KNUTSON  .  .
29347                      YABBA DABBA DINOSAURS         ZACH SMITH  .  .

[29347 rows x 4 columns]

---

In [6]:
df_dir_obra_publi_estrang.to_csv('to_replace.DiretoresDeObrasNaoPublicitariasEstrangeiras.csv', encoding='utf-8', index=False)