In [1]:
import pandas as pd
import numpy as np

---

In [2]:
df_invest_proj_renun_fiscal = pd.read_csv('InvestidoresEmProjetosRenunciaFiscal.csv', encoding='latin1', sep=';')
df_invest_proj_renun_fiscal

,CNPJ_INVESTIDOR,INVESTIDOR,ART25,ART18,ART1A,ART1,ART39,ART3A,ART3,ART41,VL_TOTAL_INVESTIDO
0,00.000.000/0001-91,BANCO DO BRASIL S.A.,"1090267,22","0,0","100000,0","0,0","0,0","0,0","0,0","0,0","1190267,22"
1,00.000.208/0001-00,BRB - BANCO DE BRASÍLIA S.A.,"145000,0","0,0","0,0","129999,18","0,0","0,0","0,0","0,0","274999,18"
2,00.001.180/0001-26,CENTRAIS ELÉTRICAS BRASILEIRAS S.A. - ELETROBRÁS,"1250000,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","1250000,0"
3,00.001.180/0002-07,ELETROBRÁS - CENTRAIS ELÉTRICAS BRASILEIRAS S.A.,"41962164,6666","455000,0","12380700,2","499630,0","0,0","0,0","0,0","0,0","55297494,8666"
4,00.014.385/0001-46,BV TRADING S/A,"0,0","0,0","0,0","2000,0","0,0","0,0","0,0","0,0","2000,0"
...,...,...,...,...,...,...,...,...,...,...,...
4382,Pessoa Fisica,WILSON SATORO MOTIZUKI,"0,0","0,0","200,0","0,0","0,0","0,0","0,0","0,0","200,0"
4383,Pessoa Fisica,YEDA KITANO CHERUBINI,"0,0","0,0","0,0","10500,0","0,0","0,0","0,0","0,0","10500,0"
4384,Pessoa Fisica,YEIBY ROXANA SANTANDER PIZARRO,"0,0","0,0","200,0","0,0","0,0","0,0","0,0","0,0","200,0"
4385,Pessoa Fisica,ZILO MATSUNAGA,"0,0","0,0","0,0","11700,0","0,0","0,0","0,0","0,0","11700,0"
4386,Pessoa Fisica,ZULMIRA WEISSMAN CANALI,"0,0","0,0","0,0","119,0","0,0","0,0","0,0","0,0","119,0"

In [3]:
colunas = ['ART25', 'ART18', 'ART1A', 'ART1', 'ART39', 'ART3A', 'ART3', 'ART41', 'VL_TOTAL_INVESTIDO']
def col_convert(df, colunas,old, new, type):
    for colunas in df[colunas]:
        if df[colunas].dtype == object:
            df[colunas] = df[colunas].str.replace(old, new).astype(float)

col_convert(df_invest_proj_renun_fiscal, colunas, ',', '.', float)

In [4]:
df_invest_proj_renun_fiscal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4387 entries, 0 to 4386
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CNPJ_INVESTIDOR     4387 non-null   object
 1   INVESTIDOR          4387 non-null   object
 2   ART25               4387 non-null   float64
 3   ART18               4387 non-null   float64
 4   ART1A               4387 non-null   float64
 5   ART1                4387 non-null   float64
 6   ART39               4387 non-null   float64
 7   ART3A               4387 non-null   float64
 8   ART3                4387 non-null   float64
 9   ART41               4387 non-null   float64
 10  VL_TOTAL_INVESTIDO  4387 non-null   float64
dtypes: float64(9), object(2)
memory usage: 377.1+ KB

---

In [5]:
df_invest_proj_renun_fiscal.to_csv('to_replace.InvestidoresEmProjetosRenunciaFiscal.csv', encoding='utf-8', index=False)